@import url('https://fonts.googleapis.com/css?family=Inconsolata');

html,body{
    padding:0;
    margin:0;
    background-color: black;
    
}

h1{
    font-family: 'Inconsolata', monospace;
    font-weight: 700;
    font-size: 110px;
    color: #dbdbdb;
    letter-spacing: 3px;
    text-orientation: sideways;
    z-index: 6;
    position: fixed;
    text-transform: uppercase;
}
h2{
    font-family: 'Inconsolata', monospace;
    font-weight: 700;
    font-size: 60px;
    color: #dbdbdb;
    letter-spacing: 3px;
    text-align: center;
    z-index: 6;
    position: fixed;
}
h3{
    font-family: 'Inconsolata', monospace;
    color: #dbdbdb;
    font-size: 40px;
    padding-bottom: 15px;
    padding-top: 15px;
}
.about{
    font-family: 'Inconsolata', monospace;
    font-weight: 700;
    font-size: 110px;
    color: #dbdbdb;
    letter-spacing: 3px;
    text-orientation: sideways;
    z-index: 6;
    text-transform: uppercase;
    position: unset;
}

p, li{
    font-family: 'Inconsolata', monospace;
    font-size:32px;
    color:#9400ff;
}
a{
    color: #dbdbdb;
    text-decoration: none;
}

a:hover{
    color: #9400ff; 
}

.left{
    writing-mode: vertical-rl;
    margin-left: -18px;
    margin-top: 100px;
    left: 0;
    
}
.right{
    margin-right: -22px;
    margin-top: 100px;
    right: 0;
    writing-mode: vertical-rl;
   
  
}

/* GRID  */

.grid{
    display:flex;
    flex-wrap:wrap;
    align-items: end;
    justify-content: center;
}

.item{
    margin:10px;
    position:relative;
    vertical-align: middle;
}

.item img{
    max-height:400px;
    opacity:0.55;
}
.overlay  h2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }

/* center */

.center{
    display:flex;
    flex-direction: column;
    margin:60px;
    padding: 50px;
    max-width: 660px;
}

  
  .item h2 {
    font-size: 32px;
    line-height: 1.2;
    color: #fff;
    text-transform: lowercase;
  }

  @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  { 
    h1{
        font-size: 50px;
        z-index: 6;
        position:fixed;
    }
    a{
        font-size: 50px;
    }
    .right{
        font-size:50px;
    }
    .overlay {
        background-color: transparent;
        opacity: 1;
   
      }
      .left{
        margin-left: 10px;
      }
     .right{ 
         margin-right: 10px; 
         right: 0;
     } 
    .about{
        font-size:50px;
    }
    p,li{
        font-size: 18px;
    }
  
}